.detail-video {
    white-space: normal;

    h2 {
        font-size: 1.4rem;
        font-weight: bold;
        margin-bottom: 1.5rem;
    }

    span {
        text-transform: uppercase;
        font-size: 1.2rem;
        margin-top: 1.5rem;
    }

    p {
        white-space: normal;
        margin-bottom: 1.5rem;
    }

}
