#list-video {
    white-space: normal;

    h2 {
        font-size: 1.4rem;
        font-weight: bold;
    }

    span {
        text-transform: uppercase;
        font-size: 1.2rem;
    }

    p {
        white-space: normal;
    }

}
